#main {
    background-color: black;

    /* inner-flex */
    display: flex;
    flex-direction: row;

    /* mbpo */
    margin:0px;
    padding:0px;
}

#graph-picharts-and-gifs {
    background-color: green;

    flex-grow: 5;
}

#panels {
    background-color: rgb(164, 255, 164);
}
